@charset "UTF-8";
.carousel {
  padding-top: 20px;
}

.texto {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 20px;
  margin: 0;
}

main h1 {
  text-align: center;
  padding-top: 20px;
}

.main__button {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
.main__button button:hover {
  font-size: large;
  font-style: oblique;
}

.equipos-de-oxigenoterapia {
  text-decoration: underline;
  font-size: larger;
  font-weight: bold;
  margin-top: 50px;
  text-align: center;
}

.concentrador__resumen-foto {
  text-decoration: underline;
  text-align: center;
}
.concentrador div img {
  padding-left: 130px;
}
.concentrador div p {
  text-align: justify;
}

.cpap__resumen-foto {
  margin-top: 20px;
  text-decoration: underline;
  text-align: center;
}
.cpap div img {
  padding-left: 150px;
}
.cpap div p {
  text-align: justify;
}

.pañales__title {
  text-decoration: underline;
  margin-top: 80px;
  font-size: larger;
  font-weight: bold;
  text-align: center;
}

.pañales__image-text {
  margin-top: 10px;
}
.pañales__image-text img {
  padding-left: 120px;
}
.pañales__image-text p {
  margin-right: 20px;
  font-style: oblique;
  text-align: justify;
  text-align: center;
}

.Descartables__title {
  text-decoration: underline;
  margin-top: 80px;
  font-size: larger;
  font-weight: bold;
  text-align: center;
}

.Descartables__image-guantes {
  margin-top: 30px;
}
.Descartables__image-guantes img {
  padding-left: 100px;
}
.Descartables__image-guantes p {
  margin-right: 20px;
  font-style: oblique;
  text-align: center;
}

.image__jeringas {
  margin-top: 30px;
}
.image__jeringas img {
  padding-left: 100px;
}
.image__jeringas p {
  margin-right: 20px;
  font-style: oblique;
  text-align: center;
}

.image__apositos-gasas {
  margin-top: 30px;
  padding-bottom: 20px;
}
.image__apositos-gasas img {
  padding-left: 150px;
}
.image__apositos-gasas p {
  margin-right: 20px;
  font-style: oblique;
  text-align: center;
}

@media (min-width: 768px) {
  main h1 {
    text-align: center;
    padding-top: 20px;
  }
  .main__button {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
  }
  .main__button button {
    border-radius: 5px;
    margin-left: 0;
    transition: all 0.3s;
  }
  .main__button button:hover {
    font-size: large;
    font-style: oblique;
  }
  .equipos-de-oxigenoterapia {
    text-decoration: underline;
    font-size: larger;
    font-weight: bold;
    margin-top: 50px;
  }
  .concentrador__resumen-foto {
    text-decoration: underline;
  }
  .concentrador div {
    display: flex;
    margin-top: 20px;
  }
  .concentrador div img {
    padding-left: 0;
  }
  .concentrador div p {
    padding-left: 40px;
  }
  .cpap__resumen-foto {
    margin-top: 20px;
    text-decoration: underline;
  }
  .cpap div {
    display: flex;
  }
  .cpap div img {
    padding-left: 0;
  }
  .cpap div p {
    padding-left: 40px;
  }
  .pañales__title {
    text-decoration: underline;
    margin-top: 80px;
    font-size: larger;
    font-weight: bold;
  }
  .pañales__image-text {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .pañales__image-text img {
    padding-left: 0;
  }
  .pañales__image-text p {
    margin-right: 20px;
    font-style: oblique;
  }
  .Descartables__title {
    text-decoration: underline;
    margin-top: 80px;
    font-size: larger;
    font-weight: bold;
  }
  .Descartables__image-guantes {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .Descartables__image-guantes img {
    padding-left: 0;
  }
  .Descartables__image-guantes p {
    margin-right: 20px;
    font-style: oblique;
  }
  .image__jeringas {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .image__jeringas img {
    padding-left: 0;
  }
  .image__jeringas p {
    margin-right: 20px;
    font-style: oblique;
  }
  .image__apositos-gasas {
    margin-top: 30px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .image__apositos-gasas img {
    padding-left: 0;
  }
  .image__apositos-gasas p {
    margin-right: 20px;
    font-style: oblique;
  }
}
main {
  margin: 0;
}
main p {
  font-weight: bold;
  font-size: larger;
  padding-top: 20px;
}
main .main__info {
  margin-top: 40px;
}
main .main__contact-phone {
  padding-left: 10px;
}
main .main__contact-phone p {
  padding-top: 0;
}
main .main__contact-phone-image {
  width: 40px;
  margin-right: 10px;
}
main .main__contact-mail {
  padding-left: 10px;
}
main .main__contact-mail p {
  padding-top: 0;
}
main .main__contact-mail-image {
  width: 40px;
  margin-right: 10px;
}
main form input {
  display: flex;
  margin: 10px;
  border: 2px solid rgb(11, 165, 11);
  border-radius: 5px;
}
main form button {
  margin-left: 50px;
  transition: all 0.6s;
}
main form button:hover {
  font-size: large;
  width: 80px;
}

.mapa {
  padding-top: 20px;
  padding-bottom: 20px;
  width: auto;
}

@media (min-width: 768px) {
  main p {
    font-weight: bold;
    font-size: larger;
    padding-top: 20px;
  }
  main .main__info {
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
  }
  main .main__contact-phone {
    padding-left: 10px;
  }
  main .main__contact-phone p {
    padding-top: 0;
  }
  main .main__contact-phone-image {
    width: 40px;
    margin-right: 10px;
  }
  main .main__contact-mail {
    padding-left: 10px;
  }
  main .main__contact-mail p {
    padding-top: 0;
  }
  main .main__contact-mail-image {
    width: 40px;
    margin-right: 10px;
  }
  main form input {
    display: flex;
    margin: 10px;
    border: 2px solid rgb(11, 165, 11);
    border-radius: 5px;
  }
  main form button {
    margin-left: 50px;
    transition: all 0.6s;
  }
  main form button:hover {
    font-size: large;
    width: 80px;
  }
  .mapa {
    margin-bottom: 50px;
  }
}
header h1 a {
  text-decoration: none;
  color: black;
}
header .header__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
header .header__container nav {
  align-self: center;
}
header .header__container-navbar {
  display: none;
}
header .header__container-navbar-mobile {
  display: flex;
}
header .header__container-navbar-mobile i {
  display: flex;
  align-self: center;
  font-size: 30px;
  color: black;
}
header .header__container-navbar-mobile ul {
  position: absolute;
  left: 0;
  top: 100px;
  background-color: rgb(77, 199, 138);
  width: 100%;
  display: none;
  z-index: 1;
}
header .header__container-navbar-mobile ul li {
  padding: 20px 0;
  text-align: center;
}
header .header__container-navbar-mobile ul li a {
  font-weight: bold;
  color: white;
  text-decoration: none;
}
header .header__container-navbar-mobile ul li:nth-child(even) {
  background-color: rgb(60, 158, 77);
}
header .header__container-navbar-mobile:hover ul {
  display: block;
}

@media (min-width: 768px) {
  header h1 a {
    text-decoration: none;
    color: black;
  }
  header .header__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  header .header__container nav {
    align-self: flex-end;
  }
  header .header__container-navbar {
    display: inline;
  }
  header .header__container-navbar li {
    display: inline;
    padding-right: 40px;
    font-size: 20px;
  }
  header .header__container-navbar li a {
    text-decoration: underline;
    color: black;
    transition: all 0.3s;
  }
  header .header__container-navbar li a:hover {
    color: blue;
    font-style: oblique;
    font-size: larger;
  }
  header .header__container-navbar-mobile {
    display: none;
  }
}
footer {
  background-color: #a8c6fa;
}
footer .footer__text {
  text-align: left;
}
footer .footer__consulta-telefono {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  margin-top: 20px;
}
footer .footer__consulta-telefono-icono {
  width: 40px;
}
footer .footer__consulta-mail {
  display: flex;
  flex-direction: row;
  text-align: left;
  align-items: center;
  margin-top: 10px;
}
footer .footer__consulta-mail-icono {
  width: 40px;
}
footer .footer form {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  justify-items: center;
  width: 100px;
}
footer .footer form input {
  height: 40px;
  margin-bottom: 10px;
  border: 2px solid rgb(11, 165, 11);
  border-radius: 5px;
}
footer .footer form button {
  height: 30px;
  width: 100px;
}

@media (min-width: 768px) {
  footer .footer {
    display: flex;
    background-color: #a8c6fa;
    justify-content: space-around;
    margin: 0;
  }
  footer .footer__text {
    text-align: left;
  }
  footer .footer__consulta-telefono {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    margin-top: 20px;
  }
  footer .footer__consulta-telefono-icono {
    width: 40px;
  }
  footer .footer__consulta-mail {
    display: flex;
    flex-direction: row;
    text-align: left;
    align-items: center;
    margin-top: 10px;
  }
  footer .footer__consulta-mail-icono {
    width: 40px;
  }
  footer .footer form {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    justify-items: center;
  }
  footer .footer form input {
    height: 30px;
    width: 160px;
    margin-bottom: 10px;
    text-align: center;
    border: 2px solid rgb(11, 165, 11);
    border-radius: 5px;
  }
  footer .footer form button {
    height: 30px;
    width: 100px;
    margin-left: 30px;
    transition: all 0.3s;
  }
  footer .footer form button:hover {
    font-size: large;
    width: 140px;
    margin-left: 10px;
  }
}
.whatsapp {
  position: fixed;
  bottom: 20px;
  right: 20px;
}
.whatsapp a img {
  width: 80px;
}
