@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Courier New", Courier, monospace;
  background-color: #d4e3fc;
  display: grid;
}

.carousel {
  padding: 20px;
}

.texto {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

main h1 {
  text-align: center;
  margin-top: 20px;
}

.main__button {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  padding: 0 10px;
}
.main__button button:hover {
  font-size: large;
  font-style: oblique;
}

.equipos-de-oxigenoterapia {
  text-decoration: underline;
  font-size: larger;
  font-weight: bold;
  margin-top: 50px;
}

.concentrador {
  margin-top: 30px;
  display: flex;
  align-items: center;
}
.concentrador__resumen-foto {
  margin-left: 10%;
}
.concentrador__explicacion-foto {
  margin-left: 180px;
  font-style: oblique;
}

.cpap {
  margin-top: 30px;
  display: flex;
  align-items: center;
}
.cpap__resumen-foto {
  margin-left: 10%;
}
.cpap__explicacion-foto {
  padding-left: 250px;
  font-style: oblique;
}

.pañales__title {
  text-decoration: underline;
  margin-top: 80px;
  font-size: larger;
  font-weight: bold;
}

.pañales__image-text {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.pañales__image-text p {
  margin-right: 20px;
  font-style: oblique;
}

.Descartables__title {
  text-decoration: underline;
  margin-top: 80px;
  font-size: larger;
  font-weight: bold;
}

.Descartables__image-guantes {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Descartables__image-guantes p {
  margin-right: 20px;
  font-style: oblique;
}

.image__jeringas {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.image__jeringas p {
  margin-right: 20px;
  font-style: oblique;
}

.image__apositos-gasas {
  margin-top: 30px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.image__apositos-gasas p {
  margin-right: 20px;
  font-style: oblique;
}

main p {
  font-weight: bold;
  font-size: larger;
}
main div {
  margin-top: 80px;
}
main .main__telefono {
  padding-left: 10px;
}
main .main__telefono_image {
  width: 40px;
  margin-right: 10px;
}
main .main__mail {
  margin-top: 20px;
  padding-left: 10px;
}
main .main__mail-image {
  width: 40px;
  margin-right: 10px;
}

.mapa {
  margin-top: 10px;
  margin-bottom: 50px;
  padding-left: 10px;
}

header h1 a {
  text-decoration: none;
  color: black;
}
header .header__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
header .header__container-navbar-mobile {
  display: flex;
}
header .header__container-info {
  display: none;
}

@media (min-width: 768px) {
  .header__container-info {
    display: inline;
    padding-top: 20px;
  }
  .header__container-info-phone-mail {
    display: flex;
    align-items: center;
    margin-right: 10px;
  }
  .image__header-phone {
    width: 40px;
    margin-right: 5px;
  }
  .image__header-mail {
    width: 40px;
    margin-right: 5px;
    margin-left: 10px;
  }
  nav {
    margin-top: 50px;
  }
  nav ul li {
    display: inline;
    margin-right: 50px;
    font-size: 20px;
  }
  nav ul li a {
    text-decoration: underline;
    color: black;
  }
  nav ul li a:hover {
    color: blue;
    font-style: oblique;
    font-size: larger;
  }
  .header__container-navbar-movible {
    display: none;
  }
}
.footer {
  flex-direction: row;
  text-align: end;
  background-color: #a8c6fa;
}
.footer__text {
  text-align: left;
}
.footer__consulta-telefono {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  margin-top: 20px;
}
.footer__consulta-telefono-icono {
  width: 40px;
}
.footer__consulta-mail {
  display: flex;
  flex-direction: row;
  text-align: left;
  align-items: center;
  margin-top: 10px;
}
.footer__consulta-mail-icono {
  width: 40px;
}
.footer form {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  justify-items: center;
}
.footer form-consulta {
  height: 60px;
}
.footer form input {
  height: 40px;
  margin-bottom: 10px;
}
.footer form button {
  height: 30px;
  width: 60px;
  margin-left: 60px;
}

.whatsapp {
  position: fixed;
  bottom: 20px;
  right: 20px;
}
.whatsapp a img {
  width: 80px;
}

@media (min-width: 768px) {
  .footer {
    display: flex;
    flex-direction: row;
    text-align: end;
    background-color: #a8c6fa;
    justify-content: space-between;
  }
  .footer__text {
    text-align: left;
  }
  .footer__consulta-telefono {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    margin-top: 20px;
  }
  .footer__consulta-telefono-icono {
    width: 40px;
  }
  .footer__consulta-mail {
    display: flex;
    flex-direction: row;
    text-align: left;
    align-items: center;
    margin-top: 10px;
  }
  .footer__consulta-mail-icono {
    width: 40px;
  }
  .footer form {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    justify-items: center;
  }
  .footer form-consulta {
    height: 60px;
  }
  .footer form input {
    height: 40px;
    margin-bottom: 10px;
  }
  .footer form button {
    height: 30px;
    width: 60px;
    margin-left: 60px;
  }
}
