footer {
    background-color: #a8c6fa;

    .footer {
        &__text {
            text-align: left;
        }
    
        &__consulta-telefono {
            display: flex;
            flex-direction: row;
            text-align: center;
            align-items: center;
            margin-top: 20px;
        
            &-icono {
                width: 40px;
            }
        }
    
        &__consulta-mail {
            display: flex;
            flex-direction: row;
            text-align: left;
            align-items: center;
            margin-top: 10px;
        
            &-icono {
                width: 40px;
            }
        }
    
        form {
            display: flex;
            flex-direction: column;
            margin-top: 10px;
            justify-items: center;
            width: 100px;
        
            input {
                height: 40px;
                margin-bottom: 10px;
                border: 2px solid rgb(11, 165, 11);
                border-radius: 5px;
            }
        
            button {
                height: 30px;
                width: 100px;
                border-radius: 5px;
            }
        }
    }
}

@media (min-width: 768px) {

    footer {
        .footer {
            display: flex;
            background-color: #a8c6fa;
            justify-content: space-around;
            margin: 0;
        
            &__text {
                text-align: left;
            }
        
            &__consulta-telefono {
                display: flex;
                flex-direction: row;
                text-align: center;
                align-items: center;
                margin-top: 20px;
            
                &-icono {
                    width: 40px;
                }
            }
        
            &__consulta-mail {
                display: flex;
                flex-direction: row;
                text-align: left;
                align-items: center;
                margin-top: 10px;
            
                &-icono {
                    width: 40px;
                }
            }
        
            form {
                display: flex;
                flex-direction: column;
                margin-top: 10px;
                justify-items: center;
            
                input {
                    height: 30px;
                    width: 160px;
                    margin-bottom: 10px;
                    text-align: center;
                    border: 2px solid rgb(11, 165, 11);
                    border-radius: 5px;
                }
            
                button {
                    height: 30px;
                    width: 100px;
                    margin-left: 30px;
                    transition: all 0.3s;
                }

                button:hover {
                    font-size: large;
                    width: 140px;
                    margin-left: 10px;
                }
            }
        }
    }
}