header {
    // grid-area: header;
    position: sticky;
    top: 0;
    z-index: 1;

    h1 a {
        text-decoration: none;
        color: black;
    }

    .header__container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        &-navbar-mobile {
            display: flex;
            align-self: center;
            font-size: 30px;
            color: black;
        }

        &-info {
            display: none;
        }
    }
}

@media (min-width: 768px) {
    // header {
    //     grid-area: header;
    // }

    .header__container-info {
        display: inline;
        padding-top: 20px;

        &-phone-mail {
            display: flex;
            align-items: center;
            margin-right: 10px;
        }
    }
    
    .image__header-phone {
        width: 40px;
        margin-right: 5px;
    }
    
    .image__header-mail {
        width: 40px;
        margin-right: 5px;
        margin-left: 10px;
    }
    
    nav {
        display: inline;
        margin-top: 50px;

        ul li {
            display: inline;
            margin-right: 50px;
            font-size: 20px;

            a {
                text-decoration: underline;
                color: black;
            }
        }
    }

    nav ul li a:hover {
        color: blue;
        font-style: oblique;
        font-size: larger;
    }

    .header__container-navbar-movible {
        display: none;
    }
}