header {

    h1 a {
        text-decoration: none;
        color: black;
    }

    .header__container {
        display: flex;
        flex-direction: row;
        justify-content: $justifycontent;

        &-info {
            display: none;
        }
        
        &-navbar-mobile {

            i {
                align-self: center;
                font-size: 30px;
                color: black;
            }
        }
    }
}

@media (min-width: 768px) {

    header {
        
        .header__container-info {
            display: inline;
            align-self: flex-end;
        }

        nav {

            ul li {
                display: inline;
                padding-right: 40px;
                font-size: 20px;
    
                a {
                    text-decoration: underline;
                    color: black;
                }
            }
        }
    
        nav ul li a:hover {
            color: blue;
            font-style: oblique;
            font-size: larger;
        }
    
        &__container-navbar-movible {
            display: none;
        }
    }
}