header {

    h1 a {
        text-decoration: none;
        color: black;
    }

    .header__container {
        display: flex;
        flex-direction: row;
        justify-content: $justifycontent;

        nav {
            align-self: center;
        }

        &-navbar {
                display: none;
            }
            
        &-navbar-mobile {
            display: flex;
    
            i {
                display: flex;
                align-self: center;
                font-size: 30px;
                color: black;
            }

            ul {
                position: absolute;
                left: 0;
                top: 100px;
                background-color: rgb(77, 199, 138);
                width: 100%;
                display: none;
                z-index: 1;

                li {
                    padding: 20px 0;
                    text-align: center;

                    a {
                        font-weight: bold;
                        color: white;
                        text-decoration: none;
                    }

                    &:nth-child(even) {
                        background-color: rgb(60, 158, 77);
                    }
                }
            }

            &:hover ul {
                display: block;
            }
        }            
    }
}

@media (min-width: 768px) {

    header {

        h1 a {
            text-decoration: none;
            color: black;
        }
        
        .header__container {
            display: flex;
            flex-direction: row;
            justify-content: $justifycontent;

            nav {
                align-self: flex-end;
            }

            &-navbar {
                display: inline;
    
                li {
                    display: inline;
                    padding-right: 40px;
                    font-size: 20px;
    
                    a {
                        text-decoration: underline;
                        color: black;
                        transition: all 0.3s;
                    }
                }
            }
    
            &-navbar li a:hover {
                color: blue;
                font-style: oblique;
                font-size: larger;
            }
    
            &-navbar-mobile {
                display: none;
            }
        }
    }
}