main {

    margin: 0;

    p {
        font-weight: bold;
        font-size: larger;
        padding-top: 20px;
    }

    .main__info {
        margin-top: 40px;
    }

    .main__contact {
        &-phone {
            padding-left: 10px;

            p {
                padding-top: 0;
            }

            &-image {
                width: 40px;
                margin-right: 10px;
            }
        }

        &-mail {
            padding-left: 10px;

            p {
                padding-top: 0;
            }

            &-image {
            width: 40px;
            margin-right: 10px;
            }
        }
    }

    input {
        display: flex;
        margin: 10px
    }

    button {
       margin-left: 50px;
    }
} 
    
.mapa {
    padding-top: 20px;
    padding-bottom: 20px;
    width: auto;
}

@media (min-width:768px) {
    main {
        p {
            font-weight: bold;
            font-size: larger;
            padding-top: 20px;
        }
    
        .main__info {
            margin-top: 80px;
            display: flex;
            justify-content: space-between;
        }
    
        .main__contact {
            &-phone {
                padding-left: 10px;
    
                p {
                    padding-top: 0;
                }
    
                &-image {
                    width: 40px;
                    margin-right: 10px;
                }
            }
    
            &-mail {
                padding-left: 10px;
    
                p {
                    padding-top: 0;
                }
    
                &-image {
                width: 40px;
                margin-right: 10px;
                }
            }
        }

        input {
            display: flex;
            margin: 10px
        }

        button {
           margin-left: 50px;
        }
    } 
        
    .mapa {
        margin-bottom: 50px;
    }
}