* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #d4e3fc;
    display: grid;
    grid-template-areas: 
    "header header header"
    "main main aside"
    "footer footer footer";
}


main {
    grid-area: main;
}

.texto {
    text-align: flex;
    margin-top: 50px;
    margin-bottom: 50px;
}

@media (min-width:768px) {

}